[submodule "MasterChef/lib/forge-std"]
	path = MasterChef/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MasterChef/lib/openzeppelin-contracts"]
	path = MasterChef/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
